@model BoardgameTracker.Models.Played.AssetCreateIndex

<div class="row">
    <div class="col-12">
        <div class="text text-center"><h3>Players</h3></div>
        <form asp-action="Create" method="post" enctype="multipart/form-data" id="upload-form">
            <table class="table table-striped table-bordered table-player">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Winner</th>
                    </tr>
                </thead>

                @foreach (var plays in Model.PlayerPlayeds)
                {
                <tr class="text-center">
                    <td class="col-2 text-center"><img class="img-thumbnail player-played-image" src="@plays.Player.Image" /></td>
                    <td>@plays.Player.Name</td>
                    <td>
                        <div class="form-group">
                            <input type="hidden" asp-for="Boardgame" />
                            <input asp-for="Scores" class="form-control"/>
                            <span asp-validation-for="Scores" class="text-danger"></span>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="checkbox" asp-for="isWinner" class="form-control" />
                            <span asp-validation-for="isWinner" class="text-danger"></span>
                        </div>
                    </td>

                </tr>

                }

            </table>
            <div>
                <button type="submit" class="btn btn-info">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>

