@model BoardgameTracker.Models.Colection.AssetIndexListingModel

<div class="row">
    <div class="col-12">
        <button class="btn btn-primary float-right">Add New Boardgame</button>
    </div>
</div>

@foreach (var game in Model.Boardgames)
{
    <div class="gallery-image-container">
        <a asp-controller="Gallery" asp-action="Detail" asp-route-id="@game.Id"><img src="@game.Image" class="gallery-image" /></a>
    </div>
}


