@model BoardgameTracker.Models.Colection.AssetIndexListingModel

@{
    ViewData["Title"] = "Collection";
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-12">
        <a asp-controller="Collection" asp-action="Create" class="btn btn-primary float-right">Add New Boardgame</a>
    </div>
</div>

@foreach (var game in Model.Boardgames)
{
    <div class="gallery-image-container">
        <a asp-controller="Collection" asp-action="Detail" asp-route-id="@game.Id"><img src="@game.Image" class="gallery-image" /></a>
    </div>
}


